Historicos_*/
Copia_*/
Docs/
Facs/
Listados/
OLD*/
RES/
SETUP/
R4_INSTALL/
BALANZA/
Bin/
Cli/
Manual R4/
Referencias/
images/
sysim/
*.bat
*.xml
*.rar
*.ldb
Puesto1/
*.txt
*.zip
*.res
*.mdb
*.accdb
*.bak
R4*.*